.col-md-6
    .row.g-0.border.rounded.overflow-hidden.flex-md-row.mb-4.shadow-sm.position-relative
        .col.p-4.d-flex.flex-column.position-static
            strong.d-inline-block.mb-2.text-primary #{ post.category }
            h3.mb-0 #{ post.title }
            .my-1.text-muted #{ post.created_at }
            p.card-text.mb-auto
                | #{ post.body.slice(0, 180) }...
            a.stretched-link(href=`/${ post.slug }`) Continue reading