.p-4.p-md-5.mb-4.rounded.text-bg-dark
    .col-md-6.px-0
        h1.display-4.fst-italic #{ featuredPosts[0].title }
        p.lead.my-3
            | #{ featuredPosts[0].body.slice(0, 200) }
        p.lead.mb-0
            a.text-white.fw-bold(href=`/${featuredPosts[0].slug }`) Continue reading...
.row.mb-2
    each post, index in featuredPosts
        if index == 0
            - continue
        .col-md-6
            .row.g-0.border.rounded.overflow-hidden.flex-md-row.mb-4.shadow-sm.h-md-250.position-relative
                .col.p-4.d-flex.flex-column.position-static
                    strong.d-inline-block.mb-2.text-primary #{ post.category }
                    h3.mb-0 #{ post.title.slice(0, 40) }...
                    .my-1.text-muted #{ post.created_at }
                    p.card-text.mb-auto
                        | #{ post.body.slice(0, 180) }
                    a.stretched-link(href=`/${ post.slug }`) Continue reading
                .col-auto.d-none.d-lg-block
                    #{ post.thumbnail }